@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

.title {
  font-weight: bold;
  font-size: 1.75rem;
  color: whitesmoke;
}

.home-page {
  background-image: url("assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 91.5vh;
}
